.navGeneral {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & button {
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgb(8, 116, 17);
    border-radius: 10px;
  }
}
