.languagesContainer {
  max-width: 500px;
  margin: auto;
  font-family: Monospace, sans-serif;
  border-style: dotted;
  border-radius: 10px;
  background-color: #e8dff5;
}

.languagesTitle {
  font-size: 24px;
  color: black;
  margin: 30px;
}

.languagesInfo {
  list-style-type: none;
  padding: 0;
}

.languagesList {
  list-style-type: none;
  padding: 0;
}

.languagesInfo > div {
  margin-bottom: 20px;
  padding: 15px;
  /* background-color: #fff; */
  border-radius: 5px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.languagesInfo h3 {
  margin: 0;
  font-size: 18px;
}

.languagesItem p {
  font-size: 16px;
  color: black;
}
